.App {
  text-align: center;

}

#root>div>div>div>form>div:nth-child(4)>div {
  padding-left: 35px;

}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  max-width: 900px;
  margin: 10px auto;



}

body>div.MuiDialog-root.MuiModal-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div>form>div:nth-child(4)>div:nth-child(2)>div {
  display: flex;
  flex-direction: row;
  margin: 0 40px;

}

body>div.MuiDialog-root.MuiModal-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div>form>div:nth-child(4)>div:nth-child(3)>div.fields>label {
  margin: 3px 50px;
}

body>div:nth-child(4)>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div>form>div:nth-child(4)>div:nth-child(3)>div.fields>label {
  margin: 3px 50px;

}

body>div.MuiDialog-root.MuiModal-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div>form>button {

  padding: 0;
}

body>div.MuiDialog-root.MuiModal-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div>form>button:nth-child(5)>p {
  padding: 0;
  margin: 10px;
}

body>div.MuiDialog-root.MuiModal-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div>form>button:nth-child(6) {
  padding: 10px;
  margin-left: 110px;
}

#root>div>div>div.Body>div.top>div>div.Students>button {
  margin-bottom: 10px;
  margin-top: 10px;
}



.Top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-items: center;
  align-items: center;
  margin: 0;
  margin-top: 20px;

  box-sizing: border-box;
  flex-wrap: wrap;
  /* border: 1px solid lightgray; */
}

.Top .Search input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */

  min-width: 650px;

}

#root>div>div>div>div.Body-content>div.Table>div>table>tbody>tr>td>a>button {

  margin-bottom: 3px;
  margin-right: 10px;
}

#root>div>div>div>div.Body-content>div.Table>div>table>tbody>tr>td>a {
  text-decoration-line: none;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#root>div>div>div>div.Body-content>div>div>table>tbody>tr>td>button:nth-child(1) {

  margin-bottom: 5px;


}



.Body {
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  min-height: 560px;



}

.Body-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 70px;
}

.side {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin: 0;
  padding: 0;



}

#root>div>div>div>form>div:nth-child(4)>div:nth-child(2) {
  flex-direction: row;
  margin-bottom: 5px;
  margin-left: 10px;
}

#male {
  margin: 5px 10px;

}

.invalid-feedback {
  color: red;
  font-size: 13px;
  margin: 5px;
  text-align: center;
}

body>div.MuiDialog-root.MuiModal-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div>form>div:nth-child(4)>div:nth-child(2)>div.invalid-feedback {
  margin-left: 60px;
}

#root>div>div>div>form>div:nth-child(4)>div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

#root>div>div>div>form>div:nth-child(4)>div:nth-child(3)>div.fields>label>input[type=checkbox] {
  margin-right: 5px;
}



#root>div>div>div>form>div:nth-child(4)>div:nth-child(2)>div:nth-child(1) {
  flex-direction: row;
}

#root>div>div>div>form>div:nth-child(4)>div:nth-child(2)>div:nth-child(2) {
  flex-direction: row;
}

#root>div>div>div>form>div:nth-child(4)>div:nth-child(2)>div.invalid-feedback {
  align-self: center;
}

#root>div>div>div>form>div:nth-child(4)>div:nth-child(4)>div>label>input[type=checkbox] {
  margin-right: 5px;
}

#root>div>div>div>form>div:nth-child(4)>div:nth-child(4)>div {
  margin-bottom: 10px;
}

#root>div>div>div>form>div:nth-child(4)>div:nth-child(3) {
  flex-direction: row;
  margin-bottom: 5px;
  margin-left: 10px;
  flex-wrap: wrap;
}

#female {
  margin: 5px 10px;
}

#root>div>div>div>div.top>div>div.Search {
  flex-grow: 1;
}

#root>div>div>div>form>div:nth-child(5)>div:nth-child(2)>div:nth-child(1) {
  flex-direction: row;
  margin-left: 0;
}

#root>div>div>div>form>div:nth-child(5)>div:nth-child(2)>div:nth-child(2) {
  flex-direction: row;
  margin-right: 0;
}

#root>div>div>div>div.top>div>div.Search>input[type=text] {
  padding: 5px;
  margin: 0px 20px;
  width: 30%;

}

#root>div>div>div>div.top>div>div.Students {
  margin-right: 20px;
}



.side label {
  margin: 4px 50px;
  align-self: flex-start;
  align-items: center;

}

.side label input {
  margin-right: 5px;
}

.Side {
  max-width: 250px;


}

Table {
  box-sizing: border-box;
  max-width: 650px;
  width: 100%;
}

.Search {

  display: flex;
  flex-direction: column;
  align-self: center;


}



#root>div>div>div>div>div>div.Search>label {
  margin: 0;
  padding: 0;
}

.Students {
  display: flex;
  flex-direction: row;


}

#root>div>div>div>div>div>div.Students>h5 {
  margin-right: 15px;
  align-self: center;
}

#root>div>div>div>div>div>div.Students>a {
  text-decoration-line: none;

}

.group {
  display: flex;
  flex-direction: column;
}

.Create {
  border: 1px solid #dddddd;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0;
}

form div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;

}


form div label {
  align-self: flex-start;
  padding: 0;
  margin: 0;
}

#root>div>div>div>form>div:nth-child(5)>div>label {
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

#root>div>div>div>form>div:nth-child(4)>label:nth-child(2)>div {
  display: flex;
  flex-direction: column;

}

#root>div>div>div>form>div:nth-child(5)>div {
  display: flex;
  flex-direction: column;

}

#root>div>div>div>form>div:nth-child(5)>div label {
  margin: 3px;
  margin-left: 20px;


}

#root>div>div>div>form>div:nth-child(5)>div label input {
  margin-right: 5px;

}

#root>div>div>div>form>div:nth-child(4)>label:nth-child(2)>div label input {
  margin-right: 5px;
}

#root>div>div>div>form>div:nth-child(4)>label:nth-child(2)>div label {
  margin-left: 20px;

}



form label {
  margin-bottom: 10px;


}

form label input {
  margin-left: 5px;

}

#root>div>div>div>form>div>label>input[type=text] {
  align-self: center;

}

#root>div>div>div>form>div:nth-child(1)>label>input[type=text] {
  margin-left: 55px;
}

#root>div>div>div>button {
  margin: 10px auto;
  width: 20px;
}

span {
  color: red;
  font-size: small;
  margin-top: 0;

}

.Table {
  display: inline-block;
}


.Side {
  margin-top: 50px;


}

@media screen and (max-width:870px) {
  #root>div>div>div>div.Body-content>div.Table {
    max-width: 550px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;


  }

  table {
    min-width: 550px;
    flex-wrap: wrap;
  }

  .Side {
    max-width: 200px;
    margin-left: 0;
    margin-right: 0;

  }

  Body {
    max-width: 750px;
  }

  .Body-content {
    max-width: 750px;
  }

  .content {
    max-width: 870px;
  }

}

@media screen and (max-width:840px) {
  Body {
    max-width: 840px;
  }
}

@media screen and (max-width:750px) {
  #root>div>div>div>div.Body-content>div.Side {
    order: -1;
    max-width: 750px;
    margin: 0 auto;
  }

  .side {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dddddd;

  }

  .side label {
    margin: 10px 20px;

  }

  #root>div>div>div>div.Body-content>div.Table {
    order: 0;
    max-width: 750px;
    margin: 0 auto;
  }

  .Body-content {
    max-width: 750px;
  }
}

@media screen and (max-width:530px) {
  #root>div>div>div>div.Body-content>div.Side {
    order: -1;
    max-width: 530px;
    margin: 0 auto;
  }



  #root>div>div>div>div.Body-content>div.Table {
    order: 0;
    max-width: 530px;
    margin: 0 auto;
  }

  .Body-content {
    max-width: 530px;
  }

  .Body {
    max-width: 540px;
    width: fit-content;
  }
}

#root>div>div>h1 {
  margin: 0 auto;
}

@media screen and (max-width:580px) {
  .Body {
    width: fit-content;
  }
}

@media screen and (max-width:530px) {
  .Body {
    max-width: 530px;
    width: fit-content;
  }

  #root>div>div>div>div.Body-content>div.Table>div>div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-zv3ubi-MuiPaper-root-MuiTableContainer-root {
    max-width: 530px;
  }

  table {
    min-width: 450px;
  }
}

@media screen and (max-width:630px) {
  table {
    min-width: 400px;
  }
}

form {
  margin: 20px auto;
}

body>div.MuiDialog-root.MuiModal-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div {
  border: 0;
  margin: 0;
}

body>div.MuiDialog-root.MuiModal-root.css-153eyq5-MuiModal-root-MuiDialog-root>div.MuiDialog-container.MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container>div>div>div>form>button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeSmall.MuiButton-containedSizeSmall.css-1fm2mmt-MuiButtonBase-root-MuiButton-root {
  padding: 10px;
}